.DS_Store
*.log
__pycache__/
*.py[cod]
venv/
.venv/
node_modules/
.next/
.env
.env*
!.env.example
test-puppeteer.js
*.local

dmc.xlsx
sign.csv
web/prisma/dev.db
web/next-env.d.ts
*.xlsx
*.csv

tsconfig.tsbuildinfo
*.tsbuildinfo
